h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: palevioletred;
}

h1.recipe {
    color: mediumspringgreen;
}

ul.index {
    font-size: 1.2em;
}